Business challenge/requirementSFO Public Department -referred to as SFO  has captured all the salary data of its employees from year 2011-2014.  Now we are in year 2015 and the organization is facing some financial crisis. As first step HR wants to rationalize employee cost to save payroll budget.You have to do data manipulation and analysis on the salary data to answer specific questions for cost savings.

In [1]:
import pandas as pd
df=pd.read_csv("Salaries.csv")
df=df.drop(df[df.Year!=2011].index)
df

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36153,36155,SERENA HUGHES,SWIMMING INSTRUCTOR/POOL LIFEGUARD,0.00,0.00,4.17,NaN,4.17,4.17,2011,NaN,San Francisco,NaN
36154,36156,JOE BROWN JR,TRANSIT OPERATOR,0.00,0.00,0.30,NaN,0.30,0.30,2011,NaN,San Francisco,NaN
36155,36157,PAULETTE ADAMS,"STATIONARY ENGINEER, WATER TREATMENT PLANT",0.00,0.00,0.00,NaN,0.00,0.00,2011,NaN,San Francisco,NaN
36156,36158,KAUKAB MOHSIN,TRANSIT OPERATOR,0.00,0.00,0.00,NaN,0.00,0.00,2011,NaN,San Francisco,NaN
36157,36159,JOSEPHINE MCCREARY,MANAGER IV,0.00,0.00,0.00,NaN,0.00,0.00,2011,NaN,San Francisco,NaN

1.Compute how much total salary cost has increased from year 2011 to 2014

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv("Salaries.csv")

df1 = df.groupby(["Year"]).agg("sum").filter(["Year", "TotalPay"])
print(df1)
print()
Total_pay_2011 = df1.query("Year == 2011")["TotalPay"]
Total_pay_2014 = df1.query("Year == 2014")["TotalPay"]

Total_cost_Increased=float(Total_pay_2014)-float(Total_pay_2011 )
print("Total change from 2011 to 2014 is:  ",Total_cost_Increased)

          TotalPay
Year
2011  2.594113e+09
2012  2.724736e+09
2013  2.918656e+09
2014  2.876911e+09

Total change from 2011 to 2014 is:   282797920.54000044

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

2. Which Job Title in Year 2014 has highest mean salary?

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv("Salaries.csv")

grouped_df_JobTitle = df.query("Year == 2014").groupby(
    ["JobTitle"]).agg("mean").filter(["JobTitle", "TotalPay"])

max_min_salary = grouped_df_JobTitle[grouped_df_JobTitle["TotalPay"]
                                     == grouped_df_JobTitle["TotalPay"].max()]
print("highest mean Salary job title is " + str(max_min_salary))

highest mean Salary job title is                           TotalPay
JobTitle
Chief Investment Officer  339653.7

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

 3. How much money could have been saved in Year 2014 by stopping OverTimePay?

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv("Salaries.csv")

grouped_df_overTime = df.groupby(["Year"]).agg(
    "sum").filter(["OvertimePay"]).query("Year == 2014")

print(str(float(grouped_df_overTime["OvertimePay"])) +
      " money could have been saved in Year 2014 by stopping OverTimePay")

205918599.27 money could have been saved in Year 2014 by stopping OverTimePay

 4. Which are the top 5 common job in Year 2014 and how much do they cost SFO ?

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv("Salaries.csv")

grouped_df_5_common = df.groupby(["Year", "JobTitle"]).agg("count").filter(
    ["Year", "TotalPay", "JobTitle"]).query("Year == 2014").sort_values("TotalPay", ascending=False)

print(grouped_df_5_common.head(5))

                                   TotalPay
Year JobTitle
2014 Transit Operator                  2479
     Special Nurse                     1478
     Registered Nurse                  1234
     Public Svc Aide-Public Works       916
     Firefighter                        815

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

5. Who was the top earning employee across all the years?

In [9]:
grouped_df_5_top_earners = df.groupby(["Year", "TotalPay"]).agg(
    "max").filter(["Year", "TotalPay", "EmployeeName"])

print(grouped_df_5_top_earners.head())

                  EmployeeName
Year TotalPay
2011 0.00       PAULETTE ADAMS
     0.30         JOE BROWN JR
     4.17        SERENA HUGHES
     5.80        ROCK CRAWFORD
     8.86      MARCELLA TUCKER